#cycle-time-gadget {
}

.time-box {
    width: 200px;
    margin: 10px auto;
    text-align: center;
    background: #ffffff;
    border: 1px solid rgb(23, 139, 202);
    border-radius: 6px;
}

.time-box p {
    margin: 20px 0 8px 0;
    font: 24px "Arial Narrow";
    color: rgb(23, 139, 202);
}

.letters {
    font: 20px "Arial";
    color: rgb(23, 139, 202);
}

.label {
    display: block;
    margin: 0 2px 0 0;
    text-align: right;
    font: 12px "Arial";
    color: lightgray;
}
